# Assignment 5 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [1]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [2]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [4]:
# word net import:

# unmark if you want to use:
import wn

In [ ]:
# word net installation:

# unmark if you want to use and need to install
!pip install wn
!python -m wn download omw-he:1.4

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [5]:
# Hebrew tokenizer installation:

# unmark if you want to use and need to install:
!pip install hebrew_tokenizer

Requirement already satisfied: hebrew_tokenizer in c:\users\oshri\anaconda3\lib\site-packages (2.3.0)

In [6]:
# Hebrew tokenizer import:

# unmark if you want to use:
import hebrew_tokenizer as ht

C:\Users\oshri\Desktop\assignment5-text_analysis

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [7]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [8]:
df_train.head(8)
df_train.shape

df_test.head(5)

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...
3                3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...
4                4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...

In [9]:
df_test.head(3)
df_test.shape

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

(323, 2)

### Your implementation:
Write your code solution in the following code-cells

In [10]:
# Pre-processing:
# Define a function called "tokenizer" that takes in a Hebrew string as input
def tokenizer(hebrew_string):
    # Use a tokenizer called "ht" to tokenize the Hebrew string
    token = ht.tokenize(hebrew_string)
    # Filter out any tokens that isn't in  Hebrew
    tokens = list(filter(lambda x: (x[0] == 'HEBREW'),token))#תיקח את טאפלים שמזוהות כמילים בעברית
    # Extract only the actual words
    tokens = [tuple[1] for tuple in tokens]#נכניס את המילים עצמן לליסט
    # Return the list of extracted tokens
    return tokens

In [12]:
# convert the target from categorial values to binary values
df_train['gender'] = np.where(df_train['gender'] == 'm',1,0)

In [13]:
# split the training data set to feature vectors and target label
X_train = df_train['story']
y_train = df_train['gender']

In [14]:
# YOUR CODE HERE
X_train.head(5)
y_train.head(5)

0    כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...
1    לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...
2    מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...
3    כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...
4    ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...
Name: story, dtype: object

0    1
1    1
2    0
3    1
4    0
Name: gender, dtype: int32

In [15]:
# Finding the best model and parameters using GridSearchCV

# SVM

SGDClassifier_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer(analyzer=tokenizer)),
    ('normalize', preprocessing.Normalizer(norm='l2')),
    ('clf', SGDClassifier(random_state=42))
])


# Naive Bayes
NB_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer(analyzer=tokenizer)),
    ('normalize', preprocessing.Normalizer(norm='l2')),
    ('clf', MultinomialNB())
])


# LineaerSVC
svc_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer(analyzer=tokenizer)),
    ('normalize', preprocessing.Normalizer(norm='l2')),
    ('classifier', LinearSVC())
])

# Perceptron
perceptron_pipeline = Pipeline([
    ('tfidf', TfidfVectorizer(analyzer=tokenizer)),
    ('normalize', preprocessing.Normalizer(norm='l2')),
    ('classifier', Perceptron())
])



best_model = None
best_f1_score = 0

# Define the parameter grids for each pipeline
SGDClassifier_param_grid = {
    'tfidf__max_df': [0.5, 0.75, 1.0],
    'clf__alpha': [0.0001, 0.001, 0.01, 0.1],
    'clf__penalty': ['l1', 'l2', 'elasticnet'],
}

NB_param_grid = {
    'tfidf__max_df': [0.5, 0.75, 1.0],
    'clf__alpha': [0.0001, 0.001, 0.01, 0.1]
}

svc_param_grid = {
    'tfidf__max_df': [0.5, 0.75, 1.0],
    'classifier__C': [0.1, 1, 10],
    'classifier__penalty': ['l1', 'l2'],
}

perceptron_param_grid = {
    'tfidf__max_df': [0.5, 0.75, 1.0],
    'classifier__alpha': [0.0001, 0.001, 0.01, 0.1],
    'classifier__penalty': ['l1', 'l2', 'elasticnet']
}

# Defining the pipelines and parameter grids
pipelines = [
    ('SGDClassifier', SGDClassifier_pipeline, SGDClassifier_param_grid),
    ('Naive Bayes', NB_pipeline, NB_param_grid),
    ('Linear SVC', svc_pipeline, svc_param_grid),
    ('Perceptron', perceptron_pipeline, perceptron_param_grid)
]

# Loop over the pipelines and perform grid search with cross-validation
for name, pipeline, param_grid in pipelines:
    print(f"Evaluating {name} model...")
    grid_search = GridSearchCV(pipeline, param_grid, cv=10, scoring='f1_macro')
    grid_search.fit(X_train, y_train)
    print(f"Best hyperparameters: {grid_search.best_params_}")
    print("CV score=%0.3f" % grid_search.best_score_)
    if grid_search.best_score_ > best_f1_score:
        best_f1_score = grid_search.best_score_
        best_model = grid_search.best_estimator_

# Print the best model
print(f"The best model is {best_model} with an F1 score of {best_f1_score}.")

Evaluating SGDClassifier model...

GridSearchCV(cv=10,
             estimator=Pipeline(steps=[('tfidf',
                                        TfidfVectorizer(analyzer=<function tokenizer at 0x0000025E5AAC5D30>)),
                                       ('normalize', Normalizer()),
                                       ('clf',
                                        SGDClassifier(random_state=42))]),
             param_grid={'clf__alpha': [0.0001, 0.001, 0.01, 0.1],
                         'clf__penalty': ['l1', 'l2', 'elasticnet'],
                         'tfidf__max_df': [0.5, 0.75, 1.0]},
             scoring='f1_macro')

Best hyperparameters: {'clf__alpha': 0.0001, 'clf__penalty': 'l1', 'tfidf__max_df': 0.75}
CV score=0.710
Evaluating Naive Bayes model...

GridSearchCV(cv=10,
             estimator=Pipeline(steps=[('tfidf',
                                        TfidfVectorizer(analyzer=<function tokenizer at 0x0000025E5AAC5D30>)),
                                       ('normalize', Normalizer()),
                                       ('clf', MultinomialNB())]),
             param_grid={'clf__alpha': [0.0001, 0.001, 0.01, 0.1],
                         'tfidf__max_df': [0.5, 0.75, 1.0]},
             scoring='f1_macro')

Best hyperparameters: {'clf__alpha': 0.01, 'tfidf__max_df': 0.5}
CV score=0.508
Evaluating Linear SVC model...

GridSearchCV(cv=10,
             estimator=Pipeline(steps=[('tfidf',
                                        TfidfVectorizer(analyzer=<function tokenizer at 0x0000025E5AAC5D30>)),
                                       ('normalize', Normalizer()),
                                       ('classifier', LinearSVC())]),
             param_grid={'classifier__C': [0.1, 1, 10],
                         'classifier__penalty': ['l1', 'l2'],
                         'tfidf__max_df': [0.5, 0.75, 1.0]},
             scoring='f1_macro')

Best hyperparameters: {'classifier__C': 10, 'classifier__penalty': 'l2', 'tfidf__max_df': 0.75}
CV score=0.642
Evaluating Perceptron model...

GridSearchCV(cv=10,
             estimator=Pipeline(steps=[('tfidf',
                                        TfidfVectorizer(analyzer=<function tokenizer at 0x0000025E5AAC5D30>)),
                                       ('normalize', Normalizer()),
                                       ('classifier', Perceptron())]),
             param_grid={'classifier__alpha': [0.0001, 0.001, 0.01, 0.1],
                         'classifier__penalty': ['l1', 'l2', 'elasticnet'],
                         'tfidf__max_df': [0.5, 0.75, 1.0]},
             scoring='f1_macro')

Best hyperparameters: {'classifier__alpha': 0.0001, 'classifier__penalty': 'elasticnet', 'tfidf__max_df': 1.0}
CV score=0.690
The best model is Pipeline(steps=[('tfidf',
                 TfidfVectorizer(analyzer=<function tokenizer at 0x0000025E5AAC5D30>,
                                 max_df=0.75)),
                ('normalize', Normalizer()),
                ('clf', SGDClassifier(penalty='l1', random_state=42))]) with an F1 score of 0.710115679911672.

In [16]:
best_model = Pipeline(
    [
        ('tfidf', TfidfVectorizer(tokenizer=tokenizer, max_df=0.73, ngram_range=(1, 1))),
        ('normalize', preprocessing.Normalizer(norm='l2')),
        ('clf', SGDClassifier(max_iter=50, random_state=42, alpha=0.0001, penalty='l1', loss='hinge',
         learning_rate='optimal', eta0=0.1, validation_fraction=0.1, n_iter_no_change=6,))
    ])

best_model.fit(X_train, y_train)
f1_scores = cross_val_score(
    best_model, X_train, y_train, cv=10, scoring='f1_macro')
avg_f1_score = np.mean(f1_scores)
print("Average F1 score:", avg_f1_score)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(max_df=0.73,
                                 tokenizer=<function tokenizer at 0x0000025E5AAC5D30>)),
                ('normalize', Normalizer()),
                ('clf',
                 SGDClassifier(eta0=0.1, max_iter=50, n_iter_no_change=6,
                               penalty='l1', random_state=42))])

Average F1 score: 0.7207252744468724

In [18]:
# use the best estimator model for learning
y_pred = best_model.predict(df_test["story"])
y_pred = np.where(y_pred == 1, 'm', 'f')
pd.DataFrame({'id_test': df_test["test_example_id"], 'y_pred': y_pred}).head(5)
pd.DataFrame({'id_test': df_test["test_example_id"], 'y_pred': y_pred}).tail(5)

   id_test y_pred
0        0      m
1        1      m
2        2      m
3        3      m
4        4      f

     id_test y_pred
318      318      m
319      319      m
320      320      m
321      321      m
322      322      m

In [19]:
# create dataframe with the test results
df_predicted = pd.DataFrame(
    {'test_example_id': df_test['test_example_id'], 'predicted_category': y_pred})
df_predicted

     test_example_id predicted_category
0                  0                  m
1                  1                  m
2                  2                  m
3                  3                  m
4                  4                  f
..               ...                ...
318              318                  m
319              319                  m
320              320                  m
321              321                  m
322              322                  m

[323 rows x 2 columns]

### Save output to csv (optional)
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [20]:
df_predicted.to_csv('classification_results.csv',index=False)